<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Tyndale Community Project</title>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <header>
    <div class="st-header">
      <div>
        <img class="Press-image" src="images/Community Logo.png" alt="">
      </div>
      <div class="head">
        <a href="https://tyndalestgeorges.com/">
          <h1>Community Program</h1>
        </a>
        <h5>Adult's Department</h5>

      </div>
      <img id="Me" src="images/Mypic.png" alt="Me">
      <div class="name ">

        <p>WEB DEVELOPMENT BY:</p>
        <a href="https://www.linkedin.com/in/mohamed-el-fares-djellatou-57325865/">Djellatou Mohamed El Fares</a>

      </div>
    </div>
  </header>
