<nav id="Nav-bckcolor" class="navbar sticky-top navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a id="txt-Home" class="navbar-brand" href="/">
      <img src="images/Home.png" alt="" height="25px" width="25px"> Home
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a id="Nav-txtcolor" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Job Search
          </a>
          <ul class="dropdown-menu">
            <li>
              <a id="txt-list" class="dropdown-item" href="/CV">
                How to Write a CV
              </a>
            </li>
            <li>
              <a id="txt-list" class="dropdown-item" href="/Jobs">
                Find a Job Online
              </a>
            </li>
            <li>
              <a id="txt-list" class="dropdown-item" href="/interview">
                How to prepare for Job Interview
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a id="Nav-txtcolor" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Learn French
          </a>
          <ul class="dropdown-menu">
            <li>
              <a id="txt-list" class="dropdown-item" href="/french">
                Quick Level test
              </a>
            </li>
            <li>
              <a id="txt-list" class="dropdown-item" href="/frcourse">
                French Courses
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a id="Nav-txtcolor" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Health Promotion Community Project
          </a>
          <ul class="dropdown-menu">
            <li>
              <a id="txt-list" class="dropdown-item" href="/AboutHealthPromotion">
                About the Community Project
              </a>
            </li>
            <li>
              <a id="txt-list" class="dropdown-item" href="/Hypertension">
                Hypertension Prevention/Management
              </a>
            </li>
            <li>
              <a id="txt-list" class="dropdown-item" href="/Falls">
                Falls Prevention
              </a>
            </li>
            <li>
              <a id="txt-list" class="dropdown-item" href="/Memory">
                Memory Impairment Prevention (Seniors)
              </a>
            </li>
          </ul>
        </li>

      </ul>

    </div>

  <!-- <form name="jksearch" class="d-flex" action="http://www.google.com/search" method="get" onSubmit="jksitesearch(this)">
  <input id="hiddenquery" type="hidden" name="q" />
  <input name="qfront" class="form-control me-2" type="search" placeholder="Google Search" aria-label="Search" />
  <button class="btn btn-outline-success" type="submit">Search</button>
  <input name="se">


  <script type="text/javascript">

  // All-in-one Internal Site Search script- By JavaScriptKit.com (http://www.javascriptkit.com)
  // For this and over 400+ free scripts, visit JavaScript Kit- http://www.javascriptkit.com/
  // This notice must stay intact for use

  //Enter domain of site to search.
  var domainroot="/"

  var searchaction=[ //form action for the 3 search engines
  "http://www.google.com/search",
  ]

  var queryfieldname=["q","p","q"] //name of hidden query form for the 3 search engines

  function switchaction(cur, index){
  cur.form.action=searchaction[index]
  document.getElementById("hiddenquery").name=queryfieldname[index]
  }

  function jksitesearch(curobj){
  for (i=0; i< document.jksearch.se.length; i++){ //loop through radio to see which is checked
  if (document.jksearch.se[i].checked==true)
  switchaction(document.jksearch.se[i], i)
  }
  document.getElementById("hiddenquery").value="site:"+domainroot+" "+curobj.qfront.value
  }


  </script> -->



  <!-- </form> -->


<form method="get" action="https://www.sitelevel.com/query" accept-charset="utf-8">
  <div class="sl_search_box" style="display:flex">
    <input type="hidden" name="crid" value="p2hubbjg"/>
    <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search"/>
    <button class="btn btn-outline-success" type="submit">Search</button>
  </div>
</form>

  </div>
</nav>
