<%- include("partials/header"); -%>
<%- include("partials/Navigation"); -%>


<div class="CV-text">

  <div class="text">
    <h1>About Health Promotion Project</h1>
    <h5>This Community project is the fruit of many weeks of planning and field-working by Students at the Ingram School of Nursing (McGill University), in collaboration with the Tyndale St-Georges community center.</h5>
    <h5>Promoting healthy behaviors and making changes that reduce the risk of chronic diseases and other morbidities are the goals of our Community health promotion project.</h5>
    <h1>Participating Students</h1>
    <h5>The team named Little Burgundy's Friends is made of 4 students:</h5>
    <h5><a href="https://www.linkedin.com/in/mohamed-el-fares-djellatou-57325865/">Djellatou Mohamed El Fares</a></h5>
    <h5>Cindy Huynh</h5>
    <h5>Scarlett Niu</h5>
    <h5>Ella Okeme</h5>
    <a id="H1ref" href="https://tyndalestgeorges.com/"><h1>Tyndale St-Georges Community Center</h1></a>
    <h5>The mission of this non-profit organization is to empower, develop and be a presence for the community by offering different programs to promote self-reliance, mutual aid, and fulfillment. It is also achieved by providing families with tools, support and opportunities. Meanwhile, the organization enhances the cultural, social, economic and environmental well-being of the community by being a pillar of support for its people through their struggles and successes. </h5>
    <h5>Although, the clienteles that are served in the community center are the adult population living in the neighbourhood of Little Burgundy and the surrounding areas, which are composed of some parts of Griffintown, Ville-Marie, and Saint-Henri. Seniors are the main targeted population in our community project</h5>
    <a href="https://tyndalestgeorges.com/"><img id="imgTyndale" src="images/tyndale-logo.png" alt=""></a>
  </div>

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <img id="carousAbout" src="images/Community2.png" class="d-block" alt="CV write" width="750px">
        <div class="carousel-caption d-none d-md-block">
          <h5>Community 1</h5>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img id="carousAbout" src="images/Community3.png" class="d-block" alt="CV write" width="750px">
        <div class="carousel-caption d-none d-md-block">
          <h5>Community 2</h5>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img id="carousAbout" src="images/Community1.png" class="d-block" alt="CV write" width="750px">
        <div class="carousel-caption d-none d-md-block">
          <h5>Community 3</h5>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<%- include("partials/footer"); -%>
