<%- include("partials/header"); -%>
<%- include("partials/Navigation"); -%>
<div class="CV-text">

  <div class="text">
    <h1>Write your resume</h1>
    <h5> The curriculum vitae (CV) is the essential tool for the employer to learn about your work experience, your training and your skills. You must write it according to the type of job you want to hold or a specific sector of activity.</h4>
    <h5>A quick and easy online resume builder helps you impress recruiters and employers with a template that saves you time and effort.</h5>
    <h1>How to write your CV </h1>
    <a href="https://www.quebec.ca/en/employment/job-search-tips/preparing-submitting-job-applications/resume"><img src="images/Quebec.png" alt=""></a>
    <a href="https://www.mcgill.ca/caps/files/caps/guide_cv.pdf"><img id="pic0" src="images/McGillCaps.png" alt=""></a>
    <h1>Famous Online Resume Builders</h1>
    <a href="https://www.canva.com/create/resumes/"><img src="images/canva.jfif" alt=""></a>
    <a href="https://www.resume-now.com/lp/rnarsmsm31.aspx?utm_source=google&utm_medium=sem&utm_campaign=61010491&utm_term=how%20to%20make%20a%20resume%20for%20job%20application&network=g&device=c&adposition=&adgroupid=9767928331&placement=&gclid=CjwKCAjwzY2bBhB6EiwAPpUpZhNvJCdkxpXmF10jux5_AnizDvT3HxVB9vhyOk5L6esnpXTCmfh8tBoC6cUQAvD_BwE"><img src="images/ResumeNow.png" alt=""></a>
    <a href="https://www.myperfectresume.com/lp/mprrwzlp03.aspx?ref=10366&cvosrc=ppc.google.to%20make%20resume&cvo_crid=167679011901&Matchtype=e&utm_term=to%20make%20resume&utm_medium=sem&utm_source=google&utm_campaign=Alpha%20-%20Merged%20Resume%20-%20CAN%20-%20Search%20-%20FB&opti_ca=118091110&opti_ag=13105825510&opti_ad=167679011901&opti_key=kwd-485703096&gclid=CjwKCAjwzY2bBhB6EiwAPpUpZjWGkAiAAKrXhExOU-He7kpV3r-IHEX3_eCUD9ySjnhSnxQ458VfrxoCp4cQAvD_BwE"><img src="images/My-Perfect-Resume.png" alt=""></a>


  </div>
  <div class="">
    <img src="images/CV.png" alt="CV write" width="750px" height="750px">
  </div>
</div>

<%- include("partials/footer"); -%>
