<%- include("partials/header"); -%>
<%- include("partials/Navigation"); -%>
<div style="display:flex">



<div class="sticky sidenav ">
  <a href="#intro">Introduction to Falls</a>
  <a href="#risk">Risks & Causes of Falls</a>
  <a href="#complic">Complications of Falls</a>
  <a href="#prevent">Falls Prevention</a>
  <a href="#how">How to walk on ice</a>
  <a href="#what">What to do if you Fall</a>
  <a href="#other">Other Ressources for Falls Prevention</a>
  <a href="#ref">References</a>
</div>


<div class="text">
  <h1 id="intro">Introduction to Falls</h1>
  <h5>Falls or Falling is one of the main causes of disability and morbidity in older adults. Every year, more than one third of people older than 65 years fall, and half of these falls are recurrent.</h5>
  <h5>As you age, the risk of falling increases, especially with the presence of a cognitive impairment or a history of previous falls, where the risk may doubles or even triples.</h5>
  <h5>Among Canadians 65 years and older, falls account for 85% of injury-related hospital admissions (<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3135440/">Al-Aama, 2011</a>).</h5>


  <iframe width="750" height="450" src="https://www.youtube.com/embed/ef9Na-ynOjU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


  <div id="present" class="text">
    <h1 id="risk">Risks & Causes of Falls</h1>
    <h5> Several risk factors have already been identified in the literature.</h5>
    <h5><img src="images/atrophy.png" alt=""> Loss of Muscular Mass (Muscle Atrophy)</h5>
    <h5> <img src="images/ortho.jpeg" alt=""> Blood pressure dropping from position change</h5>
    <h5><img src="images/Medizzy.png" alt=""> Medications causing side effects such as Dizzines (mainly Diabete & Hypertension medications)</h5>
    <h5> <img src="images/hazards.png" alt=""> Safety hazards (such as rugs, cables, shoes, wet floor ...etc.)</h5>


    <h1 id="complic">Complications of Falls</h1>
    <h5>Falls are a frequent and serious health problem with some devastating consequences.</h5>
    <h5><img src="images/hospit.png" alt=""> Prolonged hospitalization (average 9 days longer)</h5>
    <h5><img src="images/braininj.png" alt=""> Head injuries (brain bleeding)</h5>
    <h5><img src="images/fracture.png" alt=""> Fractures (Bones)</h5>
    <h5><img src="images/strain.png" alt=""> Sprains/strains (Ligaments/tendons)</h5>
    <h5><img src="images/fear.jpeg" alt=""> Fear of falling </h5>
    <h5><img src="images/canot.png" alt=""> Loss of self confidence</h5>


    <h1 id="prevent">Falls Prevention</h1>
    <h5>Falls can be prevented through a variety of evidence-based interventions that can be simple or complex.</h5>
    <h5><img src="images/rightshoes.png" alt=""> Wear well-fitted shoes with good grip (avoid High Heels)</h5>
    <h5><img src="images/lithome.png" alt=""> Make sure the room is well-lit (clear of tripping hazards)</h5>
    <h5><img src="images/assist.png" alt=""> Use assistive devices if needed (cane, walker, wheelchair ...etc.)</h5>
    <h5><img src="images/railing.png" alt=""> Keep hands free to be able to hold onto railings</h5>
    <h5><img src="images/mat.png" alt=""> Replace carpets with non slip mat </h5>
    <h5><img src="images/slipmat.png" alt=""> Place non slip mats in bathtub and bathroom floor as well</h5>
    <h5><img src="images/sitedge.png" alt=""> Sit on the edge of the bed for 1 minute before standing </h5>
    <h5><img src="images/head of the bed.jpeg" alt=""> Sleep with head slightly elevated</h5>
    <h5><img src="images/icegripcane.jpeg" alt=""> If using cane, buy an ice grip tip </h5>
    <h5><img src="images/gripons.png" alt=""> Use grip-ons (ice cleats). Always try to avoid snow or ice!</h5>

    <h1 id="how">How to walk on ice or when it is slippery</h1>
    <h5>In the winter, when there is snow or ice, walk like a penguin.</h5>
    <iframe width="750" height="450" src="https://www.youtube.com/embed/kUkUaPNUXZE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



    <h1 id="what">What to do if you Fall</h1>
    <h5>1- Take several breaths & remain on the floor </h5>
    <h5>2- Do not get up yet</h5>
    <h5>3- Crawl to a sturdy chair</h5>
    <h5>4- Slowly sit on the chair</h5>
    <h5>5- If you are hurt </h5>
    <iframe width="750" height="450" src="https://www.youtube.com/embed/ytXndx5Gako" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h1 id="other">Other Ressources for Falls Prevention</h1>
    <a href="https://santemontreal.qc.ca/en/public/support-and-services/fall-prevention-stand-up/"><h5>STAND UP! Program</h5></a>
    <h5>If you are 65+, are afraid of falling or have fallen recently…</h5>
    <h5>This program helps you to:</h5>
    <ul>
      <li>Improve your balance and coordination</li>
      <li>Increase your leg strength</li>
      <li>Learn to recognize and change situations that put you at risk of falling</li>
      <li>Increase your level of physical activity</li>
      <li>Take advantage of an opportunity to meet people and exchange with them</li>
    </ul>
    <a id="ressimg" href="https://santemontreal.qc.ca/en/public/support-and-services/fall-prevention-stand-up/"><img  src="images/standup.jpg" alt=""></a>
    <h5>Contact with your CLSC to find out more.</h5>
    <h5>For more information about Falls Prevention, click below on the picture, please.</h5>
    <a id="ressimg" href="https://santemontreal.qc.ca/en/public/advice-and-prevention/seniors-fall-prevention/"><img  src="images/Quebec.png" alt=""></a>


    <h1 id="ref">References</h1>
    <p>Al-Aama T. (2011). Falls in the elderly: spectrum and prevention. Canadian family physician Medecin de famille canadien, 57(7), 771–776.</p>
    <p>U.S. Department of Health and Human Services. (n.d.). Falls and fractures in older adults: Causes and prevention. National Institute on Aging.</p>
    <p>Pillay, J., Riva, J.J., Tessier, L.A. et al. (2021) Fall prevention interventions for older community-dwelling adults: systematic reviews on benefits, harms, and patient values and preferences.</p>
    <p>https://www.medicalnewstoday.com/articles/318158#Treatment-and-prevention</p>
    <p>https://www2.gov.bc.ca/assets/gov/health/practitioner-pro/bc-guidelines/fall_prevention_patienthandoutstayfallfreeinwinter.pdf</p>
    <p>Stock photos, royalty-free images, graphics, vectors & videos. (n.d.). Adobe Stock. https://stock.adobe.com/ca/</p>

  </div>
</div>


</div>
  <%- include("partials/footer"); -%>
