<%- include("partials/header"); -%>
<%- include("partials/Navigation"); -%>


<div class="CV-text">

  <div class="text">
    <h1>ٌRessources to Learn French</h1>
    <h5>Officially, Quebec is a French-speaking province. To integrate into Quebec society, whether in the labor market or in community life, one must be able to communicate in French.</h5>
    <h5>Many french courses are offered by the Government of Quebec. However, Certain conditions apply to financial aid with these courses.</h5>

    <a href="https://www.quebec.ca/en/education/learn-french/online-courses"><img src="images/Quebec.png" alt=""></a>

    <h1>Free Online French Courses</h1>
    <h5>Several websites offer free online French courses for beginners, intermediates, and advanced students, such as:</h5>
    <a href="https://www.elearningfrench.com/"><img src="images/eLearning French.Gif" alt=""></a>
    <a href="https://www.francaisfacile.com/"><img src="images/francfacile.webp" alt=""></a>
    <a href="https://www.mondly.com/learn-french-online"><img src="images/Mondly.jpg" alt=""></a>

  </div>




  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <img src="images/Paris.png" class="d-block" alt="CV write" width="650px">
        <div class="carousel-caption d-none d-md-block">
          <h5>Paris Eiffel Tower</h5>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="images/Montreal.png" class="d-block" alt="CV write" width="650px">
        <div class="carousel-caption d-none d-md-block">
          <h5>Montreal Downtown</h5>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="images/QuebecCity.png" class="d-block" alt="CV write" width="650px">
        <div class="carousel-caption d-none d-md-block">
          <h5>Frontenac Castle in Quebec City</h5>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>




</div>


<%- include("partials/footer"); -%>
