
<%- include("partials/header"); -%>
<%- include("partials/Navigation"); -%>

<div class="welcome">
  <div>
    <img class="img-fluid only" src="images/tyndale-logo.png" alt="Tyndale St-Georges Community Centre Logo">
    <h3>WELCOME TO TYNDALE ST-GEORGES COMMUNITY CENTRE</h3>
  </div>


  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <img id="carousHome" src="images/Capture 1.png" alt="Tyndale" width="650px">
        <div class="carousel-caption d-none d-md-block">
          <h5>Tyndale St-Georges Community Center</h5>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img id="carousHome" src="images/commgardin.png" class="d-block" alt="CV write" width="650px">
        <div class="carousel-caption d-none d-md-block">
          <h5>Community Gardin</h5>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img id="carousHome" src="images/cultural.png" class="d-block" alt="CV write" width="650px">
        <div class="carousel-caption d-none d-md-block">
          <h5>Multi-Culturalism in Canada</h5>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>

<%- include("partials/footer"); -%>
