<%- include("partials/header"); -%>
<%- include("partials/Navigation"); -%>
<div style="display:flex">



<div class="sticky sidenav ">
  <a href="#defi">Hypertension Definition</a>
  <a href="#risk">Risks & Causes of Hypertension</a>
  <a href="#complic">Complications of Untreated Hypertension</a>
  <a href="#sympt">Common Symptoms of Hypertension</a>
  <a href="#prevent">Hypertension Prevention</a>
  <a href="#manag">Hypertension Management</a>
  <a href="#measure">How to measure Blood pressure at home</a>
  <a href="#ref">References</a>
</div>


<div class="text">
  <h1 id="defi">Hypertension Definition</h1>
  <h5>Blood pressure that is higher than normal is called high blood pressure, or <a href="https://www.cdc.gov/bloodpressure/about.htm#:~:text=High%20blood%20pressure%2C%20also%20called,blood%20pressure%20(or%20hypertension).">hypertension</a>.</h5>
  <table class="table table-striped-columns">
    <tr>
      <th>Status of Blood Pressure</th>
      <th>Consistent Measure</th>
    </tr>
    <tr>
      <td>Normal</td>
      <td>120/80 or Baseline</td>
    </tr>
    <tr>
      <td>High Blood Pressure</td>
      <td>Above 140/90 or above Baseline</td>
    </tr>
  </table>

  <iframe width="750" height="450" src="https://www.youtube.com/embed/Qm5kB5X70oA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <img id="presentImg" src="images/hypertensionArtery.jpeg" alt="">


  <div id="present" class="text">
    <h1 id="risk">Risks & Causes of Hypertension</h1>

    <h5><img src="images/aging.png" alt=""> Aging</h5>
    <h5><img src="images/genetic.png" alt=""> Genetics (family history)</h5>
    <h5> <img src="images/Medications.png" alt=""> Side effects of certain medications (such as: Advil)</h5>
    <h5><img src="images/diabetes.png" alt=""> Diabetes</h5>
    <h5> <img src="images/food.png" alt=""> Unhealthy Diet</h5>
    <h5><img src="images/sedentary.png" alt=""> Physical Inactivity</h5>
    <h5><img src="images/smoking.png" alt=""> Excessive use of Tobacco & Alcohol</h5>

    <h1 id="complic">Complications of Untreated Hypertension</h1>
    <h5><img src="images/MI.png" alt=""> Miocardial Infarction (Heart Ischemia)</h5>
    <h5><img src="images/stroke.png" alt=""> Stroke (Brain Ischemia)</h5>
    <h5><img src="images/kidney.png" alt=""> Chronic Kidney Disease (Dialysis)</h5>
    <h5><img src="images/Glaucoma.png" alt=""> Eye damage (Glaucoma)</h5>

    <h1 id="sympt">Common Symptoms of Hypertension</h1>
    <h5><img src="images/danger.png" alt=""> No symptoms (known as the Silent Killer)</h5>
    <h5><img src="images/Headache.png" alt=""> Headache</h5>
    <h5><img src="images/blurry.png" alt=""> Blurry vision</h5>
    <h5><img src="images/nosebleeds.png" alt=""> Nose Bleeds</h5>
    <h5><img src="images/buzz.png" alt=""> Buzzing in the ear</h5>


    <h1 id="prevent">Hypertension Prevention</h1>
    <h5><img src="images/hdiet.png" alt=""> Diet (Low salt, Low fat)</h5>
    <h5><img src="images/phactive.png" alt=""> Regular Physical Activity</h5>
    <h5><img src="images/nosmoke.png" alt=""> Reduce Tobacco (see Tobacco cessation) and Alcohol Consumption</h5>
    <h5><img src="images/MedicalExams.png" alt=""> Regular Medical Exams (for early diagnosis)</h5>


    <h1 id="manag">Hypertension Management</h1>
    <h5><img src="images/blpressure.png" alt=""> Regularly checking blood pressure</h5>
    <h5><img src="images/Medpressure.png" alt=""> Seek hypertension treatment (with Prescribed Medication)</h5>
    <h5><img src="images/Lowsalt.png" alt=""> Follow a strict diet, Low salt (No added salt if possible) & Low fat</h5>

    <h1 id="measure">How to measure Blood pressure at home</h1>
    <iframe width="750" height="450" src="https://www.youtube.com/embed/uRl5n6keWnI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h1 id="ref">References</h1>
    <h5>Centers for Disease Control and Prevention. (2021, May 18). About High Blood Pressure (Hypertension). Centers for Disease Control and Prevention. https://www.cdc.gov/bloodpressure/about.htm</h5>
    <h5>World Health Organisation. (2021, August 25). Hypertension. Who.int; World Health Organization: WHO. https://www.who.int/news-room/fact-sheets/detail/hypertension</h5>
    <h5>Stock photos, royalty-free images, graphics, vectors & videos. (n.d.). Adobe Stock. https://stock.adobe.com/ca/</h5>

  </div>
</div>


</div>
  <%- include("partials/footer"); -%>
