<%- include("partials/header"); -%>
<%- include("partials/Navigation"); -%>
<div class="CV-text">

  <div class="text">
    <h1 id="interv">Preparing for an interview</h1>
    <ul class="list">
      <li>Read Job Description carefully</li>
      <li>Know the different forms of interview (ex: technical)</li>
      <li>View sample interview questions, and practice answering them beforehand</li>
      <li>Preparing for your interview (ex: technical questions)</li>
      <li>Make a good impression in an interview</li>
      <li>Follow up on your interview (feedback from recruiters)</li>
      <li>Getting better for the next interview (if not hired)</li>
    </ul>

  </div>
  <div class="">
    <iframe width="750" height="450" src="https://www.youtube.com/embed/HG68Ymazo18">
    </iframe>
  </div>
</div>

<%- include("partials/footer"); -%>
