<%- include("partials/header"); -%>
<%- include("partials/Navigation"); -%>


<div class="CV-text">

  <div class="text">
    <h1>Find a Job</h1>
    <h5>You may have experienced frustration and difficulty when it comes to finding a job. We all struggle with job hunting, whether we're changing careers, looking for our first job after college/University, or somewhere in between.</h5>
    <h5>Finding the right formula to help you land your dream job is a real headache. But no matter how frustrating the process is, don't give up.</h5>
    <h5>Networking and contacts are the easiest way to find a job. As a matter of fact, a solid professional network would facilitate the process and guarantee its success. However, this advantage is not available to all job seekers.</h5>
    <h5>Thus, many online job search engines provide a great opportunity to job seekers with limited professional networks (such as new immigrants).</h5>
    <h1>Find a Job online</h1>
    <a href="https://www.guichetemplois.gc.ca/accueil"><img src="images/guichet.png" alt=""></a>
    <a href="https://www.quebecemploi.gouv.qc.ca/plateforme-emploi/?lang=fr"><img src="images/Emploiquebec.png" alt=""></a>
    <a href="https://ca.indeed.com/"><img src="images/indeed.jpg" alt=""></a>
    <a href="https://www.monster.ca/"><img src="images/monster.png" alt=""></a>

    <a href="https://www.linkedin.com/jobs/"><img src="images/linkedin.jpg" alt=""></a>
    <a href="https://www.glassdoor.com/Job/index.htm?utm_source=google&utm_medium=cpc&utm_campaign=CA_B2C_Consumer_Brand_2022"><img src="images/Glassdoor.webp" alt=""></a>
    <a href="https://careers.google.com/?src=Online%2FHouse%20Ads%2FBKWS"><img src="images/google.webp" alt=""></a>
    <a href="https://www.simplyhired.ca/"><img src="images/hired.webp" alt=""></a>
    <a
      href="https://www.ziprecruiter.com/post-a-job?tsid=109039895&utm_source=dglem|google-search|cmp-1499831196|adg-61712079594|kw-aud-381632843240:kwd-295583813507|mt-e|device-c|cr-560128202308|uid-CjwKCAjwzY2bBhB6EiwAPpUpZnOltmHV3akPYrNKSA9tG7TltzvX6SQAdynuvN4-MVsHaQnKbU8wAxoCLiMQAvD_BwE&utm_medium=cpc&utm_campaign=39895&mid=39895&gclid=CjwKCAjwzY2bBhB6EiwAPpUpZnOltmHV3akPYrNKSA9tG7TltzvX6SQAdynuvN4-MVsHaQnKbU8wAxoCLiMQAvD_BwE"><img
        src="images/zip.webp" alt=""></a>
  </div>
  <div class="">
    <img src="images/Hiring.png" alt="CV write" width="750px" height="750px">
  </div>
</div>

<%- include("partials/footer"); -%>
