<%- include("partials/header"); -%>
<%- include("partials/Navigation"); -%>
<div style="display:flex">



<div class="sticky sidenav ">
  <a href="#intro">Introduction to Memory Impairment</a>
  <a href="#risk">Risks & Causes of Memory Impairment</a>
  <a href="#complic">Complications of Memory Impairment</a>
  <a href="#prevent">Memory Impairment Prevention</a>
  <a href="#other">Other Ressources for Memory Impairment</a>
  <a href="#ref">References</a>
</div>


<div class="text">
  <h1 id="intro">Introduction to Memory Impairment</h1>
  <h5>Among the elderly, memory and other cognitive declines are common concerns. They may worry that learning new skills is taking longer than usual, or sometimes when they forget to pay their bills.</h5>
  <h5>In fact, aging is often associated with this mild forgetfulness and it is not a serious memory problem.</h5>
  <h5>However, when it is difficult for you to perform daily tasks like driving, using the phone, or getting home, you are likely to have serious memory or cognitive problems, and seeking medical attention is highly recommended. (<a href="https://www.nia.nih.gov/health/memory-forgetfulness-and-aging-whats-normal-and-whats-not#:~:text=Some%20older%20adults%20have%20a,and%20do%20their%20normal%20activities.">National Institute on Aging, 2020</a>).</h5>


  <iframe width="750" height="450" src="https://www.youtube.com/embed/wX68gvahj9Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


  <div id="present" class="text">
    <h1 id="risk">Risks & Causes of Memory Impairment</h1>
    <h5> Several risk factors have already been identified in the literature, such as:</h5>
    <h5><img src="images/Medizzy.png" alt=""> Medication Side Effects (some medications for anxiety, depression, seizure ...etc.)</h5>
    <h5> <img src="images/braininj.png" alt=""> Head Injury (concussions)</h5>
    <h5><img src="images/insomnia.png" alt=""> Lack od sleep (insomnia)</h5>
    <h5> <img src="images/vitamin.png" alt=""> Nutritional Deficiencies (B12, B6, B1, D, Folate vitamins deficiency)</h5>
    <h5> <img src="images/thyroid.png" alt=""> Thyroid Issues (decreased brain functionality due to hypothyroidism)</h5>
    <h5> <img src="images/neurone.png" alt=""> Neurodegenerative disorders (Dementia/Parkinson)</h5>




    <h1 id="complic">Complications of Memory Impairment</h1>
    <h5><img src="images/social.jpeg" alt=""> Social Isolation</h5>
    <h5><img src="images/miserable.png" alt=""> Quality of life Decline</h5>
    <h5><img src="images/depression.png" alt=""> Mental Health Impairment (Depression)</h5>
    <h5><img src="images/negative.png" alt=""> Negative Feeling & Behaviors</h5>



    <h1 id="prevent">Memory Impairment Prevention</h1>
    <h5><img src="images/learnskill.png" alt=""> Learn a new skill</h5>
    <h5><img src="images/diagnose.png" alt=""> Early detection of Memory impairment</h5>
    <h5><img src="images/list.png" alt=""> Make a to-do list and use memory tools (calendars and notes)</h5>
    <h5><img src="images/daily.png" alt=""> Follow a daily routine</h5>
    <h5><img src="images/interaction.png" alt=""> Spend time with friends and family </h5>
    <h5><img src="images/eatactive.png" alt=""> Exercise and eat nutrients-rich food</h5>
        <h5><img src="images/sleepwell.png" alt=""> Get enough Sleep</h5>

    <h1 id="how">When to see a doctor?</h1>
    <h5>Asking same questions over and over again.</h5>
    <h5>Having troubles following recipes or directions.</h5>
    <h5>Becoming more confused about time, people, and places.</h5>


    <h1 id="other">Other Ressources for Memory Impairment</h1>
    <a id="ressimg" href="https://www.nia.nih.gov/health/memory-forgetfulness-and-aging-whats-normal-and-whats-not#:~:text=Some%20older%20adults%20have%20a,and%20do%20their%20normal%20activities."><img  src="images/NIH_logo.png" alt=""></a>
    <a id="ressimg" href="https://www.mayoclinic.org/diseases-conditions/alzheimers-disease/in-depth/memory-loss/art-20046326"><img  src="images/mayo.png" alt=""></a>


    <h1 id="ref">References</h1>
    <a href="https://www.nia.nih.gov/health/memory-forgetfulness-and-aging-whats-normal-and-whats-not "><p>U.S. Department of Health and Human Services. (n.d.). Memory, forgetfulness, and aging: What's normal and what's not? National Institute on Aging.</p></a>
    <a href="https://www.forbes.com/health/healthy-aging/memory-loss-causes/"><p>Forbes Magazine. (2022, October 18). The most common causes of memory loss. Forbes.</p></a>
    <a href="https://stock.adobe.com/"><p>Stock photos, royalty-free images, graphics, vectors & videos. (n.d.). Adobe Stock.</p></a>
    <a href="https://familydoctor.org/depression-and-alzheimers-disease/"><p>Oller, Beth. “Depression and Alzheimer’s Disease.” Familydoctor.org, 19 Apr. 2022,</p></a>
    <a href="https://memory.ucsf.edu/caregiving-support/behavior-personality-changes"><p>Well Institute for Neurosciences. “Behavior & Personality Changes.” Memory and Aging Center, 2014.</p></a>

  </div>
</div>


</div>
  <%- include("partials/footer"); -%>
